.curiosidades {
  padding: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.curiosidades-lista .pergunta:nth-child(odd),
.curiosidades-lista .pergunta:nth-child(even) {
  margin-bottom: 20px;
  background: #ffde66;
  border-radius: 10px;
  padding: 20px 40px;
}
.curiosidades-lista .pergunta:nth-child(even) {
  background: #ffffff;
}

.curiosidades-lista .pergunta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.curiosidades-lista .pergunta dt {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.curiosidades-lista .pergunta dt::before {
  content: "";
  width: 15px;
  height: 5px;
  background-color: #a099cc;
  display: inline-block;
  margin-right: 10px;
}

.curiosidades-lista .pergunta dd {
  margin-top: 20px;
  font-size: 18px;
  line-height: 180%;
}

.footer {
  background-color: #a099cc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .curiosidades-lista .pergunta dt {
    font-size: 18px;
    line-height: 1.5;
  }
  .curiosidades-lista .pergunta dd {
    margin-top: 10px;
    font-size: 16px;
    line-height: 160%;
  }
}

@media (max-width: 600px) {
  .curiosidades-lista .pergunta dt {
    font-size: 16px;
    line-height: 1.5;
  }
  .curiosidades-lista .pergunta dd {
    margin-top: 10px;
    font-size: 12px;
    line-height: 160%;
  }
}
@media(max-width:420px){
  .curiosidades-lista .pergunta dt::before {
    margin-bottom: 8px;
  }
}