.header {
  background-color: #a099cc;
  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px 0px;
  padding: 10px 40px;
  width: 100%;
  text-align: center;
  
}

.header img {
  max-width: 100%;
  width: 387px;
  height: 64px;
}

.header-menu {
  display: flex;
  gap: 80px;
}

.header-menu a {
  font-size: 20px;
  color: #08051a;
  padding: 10px 20px ;
}


@media(max-width:1024px){
  .header-container{
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
}
@media(max-width:512px){
  .header-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .header-menu a {
    font-size: 16px;
    background-color: #B2ADCF;
    padding: 10px;
    border-radius: 5px;
  }
}