.sobre-container {
  padding: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.sobre-conteudo p + p {
  margin-top: 20px;
}

.sobre-slide {
  margin: 0 auto;
  width: 530px;
  height: 353px;
  overflow: hidden;
  border-radius: 20px;
}

.slides {
  width: 400%;
  height: 353px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide:not(:last-child){
  transition: 2s;
}

.slide img {
  width: 530px;
}

.manual-navigation {
  position: absolute;
  width: 530px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #a099cc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.manual-btn:hover {
  background-color: #a099cc;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}

.sobre-conteudo-bg {
  background: linear-gradient(180deg, #edeafa 80%, #a099cc 80%);
  padding: 40px 60px;
}

.sobre-conteudo-2 {
  padding: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.sobre-conteudo-2 p + p {
  margin-top: 20px;
}


.navigation-auto div{
  border: 2px solid #a099cc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.navigation-auto{
  position: absolute;
  width: 530px;
  margin-top: 363px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 20px;
}

#radio1:checked~.navigation-auto .auto-btn1{
  background-color: #a099cc;
}
#radio2:checked~.navigation-auto .auto-btn2{
  background-color: #a099cc;
}

#radio3:checked~.navigation-auto .auto-btn3{
  background-color: #a099cc;
}

#radio4:checked~.navigation-auto .auto-btn4{
  background-color: #a099cc;
}





@media (max-width: 1024px) {
  .sobre-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .sobre-container {
    padding: 20px;
    gap: 20px;
  }
  .sobre-conteudo-2 {
    padding: 20px;
  }
  .sobre-conteudo p + p {
    margin-top: 10px;
  }

  .sobre-conteudo-2 p + p {
    margin-top: 10px;
  }
  .sobre-conteudo-bg {
    padding: 20px;
  }
}
